In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [7]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
engine.connect()

In [19]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [39]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [30]:
df = next(df_iter)

In [31]:
len(df)

100000

In [32]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [33]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [34]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.73 s, sys: 119 ms, total: 4.85 s
Wall time: 7.84 s

1000

In [37]:
from time import time

In [40]:
while True:
    t_start  = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chuck, took %.3f scond' % (t_end - t_start))

inserted another chuck, took 8.110 scond
inserted another chuck, took 7.991 scond
inserted another chuck, took 8.019 scond
inserted another chuck, took 8.065 scond
inserted another chuck, took 8.081 scond
inserted another chuck, took 8.027 scond
inserted another chuck, took 7.991 scond
inserted another chuck, took 7.874 scond
inserted another chuck, took 7.896 scond
inserted another chuck, took 7.922 scond
inserted another chuck, took 7.981 scond
inserted another chuck, took 7.812 scond

/tmp/ipykernel_73908/2632372545.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chuck, took 7.714 scond
inserted another chuck, took 4.989 scond

StopIteration: